.noSaved{
    
    
    background-image: url('https://static.vecteezy.com/system/resources/previews/004/968/502/large_2x/bookmark-social-media-content-save-icon-concept-illustration-flat-design-eps10-modern-graphic-element-for-landing-page-empty-state-ui-infographic-vector.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
    

}