nav{
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav-item{
    @apply cursor-pointer font-exo me-6 text-sm md:text-lg
}
.sideMenuBar{
    overflow: hidden;
}