@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;500&family=Work+Sans:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    background-color: #f8f8f8;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}